<html>
<body>
<h1>Welcome</h1>
<p>My name is {name} and this is home page.</p>
<% repeat {phones} %>
	<% if {loopfirst} %>
		<ul>
	<% end %>
	<li>my {type} number is {number}</li>
	<% if {looplast} %>
		</ul>
	<% end %>
<% end %>
</body>
</html>
